.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.App-header{
  margin: auto;
  padding-top: 10px;
  color: #4dccc6;
}

.formikForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 30vw;
}

.row{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-height: 66px;
}

.label{
  padding: 4px 0 4px 0;
}

.input {
  border: 1px solid #8a8080;
  border-radius: 2px;
}

.center{
  justify-content: center;
}

.btn-submit{
  width: 100px;
  height: 40px;
  color: #282c34;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 600; 
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-submit {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-submit:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  transition: all 0.3s ease;
}
.btn-submit:hover:after {
  top: 0;
  height: 100%;
}

.required{
  font-size: 12px;
  color: red;
}

@media only screen and (max-width: 900px) {
  .formikForm {
    margin: 0 5vw;
  }
}
